.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}
.nav-item-1{
    width: 20px;
    height: 20px;
}
.navigation{
    margin-top: 0%;
}
p{
    color: black;
}
h2{
    text-align: center;

}
